
MAILROUND_IN_IMAP_vps1_HOST="examplemailserver.com"
MAILROUND_IN_IMAP_vps1_PORT=143
MAILROUND_IN_IMAP_vps1_USE_SSL=true
MAILROUND_IN_IMAP_vps1_USERNAME="accuontusername"
MAILROUND_IN_IMAP_vps1_PASSWORD="randompassword"
MAILROUND_IN_IMAP_vps1_EMAIL="test@example.com"

MAILROUND_OUT_SMTP_vps1_HOST="examplemailserver.com"
MAILROUND_OUT_SMTP_vps1_PORT=143
MAILROUND_OUT_SMTP_vps1_USE_SSL=true
MAILROUND_OUT_SMTP_vps1_USERNAME="accuontusername"
MAILROUND_OUT_SMTP_vps1_PASSWORD="randompassword"
MAILROUND_OUT_SMTP_vps1_EMAIL="test@example.com"

MAILROUND_MAX_MAIL_RECEIVE_TIME = 60
MAILROUND_ROUND = vps1:test;test:foo